__pycache__/
.idea/
config/sceneconfig.yml
config/sceneconfig_linux.yml
config/config.yml
*.db
temp/*
hunjian_main.py
.DS_Store
*/.DS_Store
work/*
final/*
resource/*
venv
=2.13.3
last_published_cn.txt