langchain_openai
langchain
langchain-community
tenacity==8.3.0
openai
azure-cognitiveservices-speech
streamlit
wxPython
pillow
qianfan
dashscope
aliyun-python-sdk-core>=2.13.3
tencentcloud-sdk-python-tts
pydub