langchain_openai==0.1.1
langchain==0.1.20
langchain-community==0.0.38
tenacity==8.3.0
openai==1.16.2
azure-cognitiveservices-speech==1.36.0
streamlit==1.34.0
wxPython
pillow
qianfan==0.3.15
dashscope
aliyun-python-sdk-core==2.15.1
tencentcloud-sdk-python-tts==3.0.1168
pydub
psutil
selenium==4.20.0
pyperclip